.Vk {
    width: 320px;
    height: 190px;   
    border: 1px solid rgb(5, 160, 216);
    border-radius: 10px;
    margin-left: 60px;
    background-color: rgb(107, 201, 232);
}

a {
    font-size: 25px;
    position: relative;
    top: -25px;
    color: black;
    text-decoration: none;
}

.logo {
    padding: 10px;
    max-width: 200%;
    max-height: 50px;
}

p {
    color: rgb(94, 94, 234);
    margin-left: 20px;
    font-size: 23px;
    margin-bottom: 0px;
    margin-top: 10px
}